.us_title {
  color: rgb(21, 20, 20);
  font-family: Sharp Sans No1;
  font-size: 54px;
  font-weight: 770;
  line-height: 68px;
  text-align: center;
}

.us_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 62px;
}

.us_li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.us_suptitle {
  color: rgb(59, 67, 62);
  font-family: Sharp Sans No1;
  font-size: 24px;
  font-weight: 750;
  line-height: 30px;
  text-align: center;
  padding-top: 15px;
}

.us_li_title {
  color: rgb(24, 29, 25);
  font-family: Sharp Sans No1;
  font-size: 28px;
  font-weight: 770;
  line-height: 35px;
  padding-top: 36px;
}

.us_li_suptitle {
  font-family: Sharp Sans No1;
  font-size: 18px;
  font-weight: 750;
  line-height: 28px;
  color: rgb(16, 22, 18);
  width: 250px;
  text-align: center;
  padding-top: 18px;
}

.us_list_number {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
}

.us_number {
  color: rgb(0, 0, 0);
  font-family: Sharp Sans No1;
  font-size: 44px;
  font-weight: 780;
  line-height: 55px;
}

.us_number_sup {
  color: rgb(84, 84, 84);
  font-family: Sharp Sans No1;
  font-size: 20px;
  font-weight: 760;
  line-height: 25px;
  padding-top: 20px;
}


.us_number_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}